.texto-bienvenida {
    color: black;
}

.color-1 {
    color: black;
    font-size: 24px;  // Cambia este valor para ajustar el tamaño del texto
    font-weight: bold; 
}


.footer-text {
    color: #000000; 
}
.footer-textt {
    font-size: 16px;
    color: #000000; 
}