.footer-text {
    font-size: 16px;  
    color: #000000;  
}

.footer-textt {
    color: #000000;  
}

.recover-password-text {
    color: #000000;  
    font-size: 16px;  
    text-decoration: underline;  
    cursor: pointer;  
}

.login-title {
    color: rgb(255, 255, 255);  
    text-align: center;  

}

.large-img {
    width: 102%;
    max-width: 500px; 
    height: auto; 
    margin-right: 100px;
}
