.login-title {
    color: rgb(255, 255, 255);  
    text-align: center;  

}

.color-1{
    color: black;
    font-size: 15px;  // Cambia este valor para ajustar el tamaño del texto
    font-weight: bold; 
}

.color-2{
    color: black;
}