<ion-header>
  <ion-toolbar class="color-principal">
      <ion-title id="tPrincipal">GuardLink</ion-title>
  </ion-toolbar>
</ion-header>

<h1 class="tittle-text ion-text-center">UBICACION</h1>

<ion-content class="ion-padding">

  <ion-button class="ion-margin-top color-principal" expand="block" (click)="verCordenadas()">Ver Coordenadas</ion-button>
  



  <ion-button class="ion-margin-top color-principal" expand="block" routerLink="/inicio">Volver atras</ion-button>
  <h1 class="footer-text ion-text-center">www.GuardLink.cl</h1>
</ion-content>
